.Headline {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.Title {
    font-size: 2rem;
    display: inline;
}

.Panel{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.Btn {
    border-radius: 3px;
    border: 1px solid #4682B4;
    background-color: white;
    /* display: inline; */
    align-items: center;
    cursor: pointer;
    color: #4682B4;
    font-weight: bold;
    padding: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.Btn:hover {
    color: #484848;
    background-color: rgba(176, 224, 230, 0.7);
    border-color: #B0E0E6;
}

.PlayBtn{
    width: 2.1rem;
    display: inline-block;
    border: 1px solid #4682B4;
    border-radius: 3px;
    background: none;
    color: #4682B4;
    cursor: pointer;
    margin-left: 20px;
    box-sizing: border-box;
    padding-bottom: 3px;
}

.PlayBtn:hover {
    color: #484848;
    background-color: rgba(176, 224, 230, 0.7);
    border-color: #B0E0E6;
}

.RightBtn {
    display: flex;  
    justify-content: flex-end;
    width: 100%;
}

.Label{
    color: #484848;
    font-size: 1.2rem;
    display: inline;
    margin: 1rem;
    margin-right: 0.5rem;
}

.DatePicker {
    width: 200px;
}

@media (max-width: 1450px) {
    .Label {
        font-size: 1rem;
    }
    .DatePicker {
        width: 180px;
    }
}

@media (max-width: 1300px) {
    .Label {
        font-size: 0.9rem;
    }
    .DatePicker {
        width: 150px;
    }
}

@media (max-width: 1000px) {
    .Label {
        font-size: 0.9rem;
    }
    .DatePicker {
        width: 100px;
    }
}