.BarChart {
    margin: 0px 20px;
}

.Title {
    font-size: 2rem;
}

@media (max-width: 1450px) {
    .Title {
        font-size: 1.7rem;
    }
}

@media (max-width: 1300px) {
    .Title {
        font-size: 1.5rem;
    }
}

button {
    margin: 5px
}