.Title {
    font-size: 2rem;
    color: #484848;
}

@media (max-width: 1450px) {
    .Title {
        font-size: 1.6rem;
    }
}

@media (max-width: 1300px) {
    .Title {
        font-size: 1.5rem;
    }
}
